* {
    box-sizing: border-box;
    font-family: Gotham Rounded;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 108, 68)
}

.mainHeader {
    padding-bottom: 12px;
    margin-bottom: 18px;
    border-bottom: 1px solid grey;
}

.quizCard {
    width: 55vw;
    max-width: 75%;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-size: 18px;
}

.buttonArea {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

button {
    border: 1px solid grey;
    background-color: #0e1007;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 16px;
}

button:hover {
    border: 1px solid grey;
    background-color: #375fff;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
}

.start {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.scoresList {
    text-decoration: none;
    list-style-type: none;
    margin: 8px ;
}

#highScoresList {
    margin: 15px ;
}

#scoreArea {
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

#init {
    margin: top 12px;;
}

#initials {
    margin: 8px;
}

#save-btn {
    margin: 8px;
}

#showScoresButton {
    margin: top 12px;
}

@media only screen and (max-width: 768px) {
    .buttonArea {
        display: grid;
        grid-template-columns: none;
        gap: 10px;
        margin: 20px 0;
    }
}